@CHARSET "UTF-8";
.pagewrap{
	background:url("../images/auv-bg.jpg") repeat-x scroll left top rgba(0, 0, 0, 0);
}
#lifeTime{
	height: 500px;
	width: 100%;
}
#lifeTime div.logo{
	height: 100px;
    margin: 10px 10px 10px 0;
}
.logo img{
	height:80px;
	float:left;
}
.companyNameAndWebsite{
	height:80px;
	float:left;
}
.auvtime{
	float: left;
    height: 50%;
    margin-bottom: 5px;
    margin-left: 20px;
    width: 100%;
}
.companyNameAndWebsite span.companyName{
	font-size:36px;
}
.companyNameAndWebsite a.website{
	font-size:25px;
}
#lifeTime div.name{
	border: 1px solid #2B82AD;
	border-radius:20px;
	clear:both;
    margin: 20px 0;
    padding: 25px 10px 25px 20px;
}
#lifeTime div.name span{
	font-size:40px;
}
#lifeTime div.lifeLength{
	border: 1px solid #2B82AD;
	border-radius:20px;
	clear:both;
    margin: 20px 0;
    padding: 25px 10px 25px 20px;
}
#lifeTime div.lifeLength span{
	font-size:40px;
}

#nowTime{
	display: inline-block;
    height: 50px;
    margin-left:450px;
}

.nav-item a{
	font-size:35px;
}