<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="callout">
		<h1 class="logo">
			<img
				src="https://d2ed0w4q03gsmw.cloudfront.net/d9ccee7/images/logos/aboutme_logo_black.svg">
		</h1>
		<h2 class="tagline">it’s all about you</h2>
		<p class="subtagline">Having an about.me page will make it easier
			for people to find and learn about you.</p>
		<div class="signupform">
			<div class="signup">
				<form onsubmit="return false" method="post" id="signup_homepage"
					action="/register">
					<input type="hidden"
						value="297302060520910522359920855638506979226"
						name="_authentication_token">
					<div class="socialsignup">
						<!-- <h4>or Sign Up using&hellip;</h4> -->
						<div class="buttons clearfix">
							<a
								class="button signupbutton dark large branded facebook glyph-facebook not-deferred"
								href="https://about.me/facebook/login?perm=basic">Facebook</a> <a
								class="button signupbutton dark large branded twitter glyph-twitter not-deferred"
								href="https://about.me/twitter/login">Twitter</a>
						</div>
						<div class="login-or">
							<hr class="rule">
							<span class="hor">or</span>
						</div>
					</div>
					<fieldset class="first_name name">
						<label for="homepage_first_name" class="label">First name</label>
						<input type="text" maxlength="32" value=""
							class="input fullwidth large first_name" id="homepage_first_name"
							name="first_name">
					</fieldset>
					<fieldset class="last_name name">
						<label for="homepage_last_name" class="label">Last name</label> <input
							type="text" maxlength="32" value=""
							class="input fullwidth large last_name" id="homepage_last_name"
							name="last_name">
					</fieldset>
					<fieldset class="email">
						<label for="homepage_email" class="label">Email address</label> <input
							type="text" maxlength="254" value=""
							class="input fullwidth large email" id="homepage_email"
							name="email">
					</fieldset>
					<input type="hidden" class="signuplocation" name="location"
						value="homepage">
					<fieldset class="buttons last large">
						<button
							class="button test130106 large dark blue signup-submitbutton not-deferred"
							type="submit">
							<span class="default-text">Join for FREE</span> <span
								class="loading-text">Join for FREE</span>
						</button>
						<div class="alreadyjoined invisible button-item">
							<span class="">Already joined? &nbsp;</span><a
								class="not-deferred" href="https://about.me/login">Log In</a>
						</div>
					</fieldset>
					<div class="nothanks invisible">
						<span class="text link cancel glyph-close">No thanks, just
							browsing</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>